# LaTeX build artifacts
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc
paper/*.lof
paper/*.lot
paper/*.acn
paper/*.acr
paper/*.alg
paper/*.glg
paper/*.glo
paper/*.gls
paper/*.ist
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
paper/main-blx.bib
paper/main.run.xml
paper/preview_page*.png
